$palette1: #121051;
$palette2: #5b9bf5;
$palette3: #7150bf;
$palette4: #b30089;
$palette5: #f79400;
$palette6: #5bde80;
$palette7: #2395a4;
$palette8: #6ad0d5;
$palette9: #f7555a;
$palette10: #ff997f;
$palette11: #36454f;

$palette-grey: #bdbdbd;

$pf-grey: $palette11;
$pf-green: $palette6;
$pf-blue: $palette8;
$pf-left-menu-hover: $palette7;
$left-menu-bg: $palette11;

$pf-sel-hover: #ddd;

$pf-button-primary: $palette7;
$pf-button-secondary: $palette11;

$pf-selected: $palette8;
